body{
    background:#393E41; 
    text-align: center;
    
}




h1{
    
    font-family: "Impact", italic, sans-serif;
    color: #E7BB41;
}
p{
    font-size: 250%;
    text-decoration: underline;   
    color:#E7E5DF;
}


img {
    width:  60%;
    height: 60%;
border-radius: 50% ;
    
}

button {
    background-color: #44BBA4;
    border-style: none;
    border-color: #D3D0CB ;
    color:#E7E5DF;
    font-weight: bold;
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
   
    
}
