body{
    background:#2c3e50; 
    text-align: center;
    border-top-color: #9FFFCB;
    border-bottom-color: #e74c3c;
    border-right-color: #3498db;
    border-left-color: #f1c40f;
    border-width: 15px 30px 20px 45px;
    border-style: solid;
}




h1{
    
    font-family: "Impact", italic, sans-serif;
    color: #E7BB41;
}
p{
    font-size: 250%;
    text-decoration: underline;   
    color:#E7E5DF;
}


img {
    width:  60%;
    height: 60%;
border-radius: 50% ;
    
}

button {
    background-color: #44BBA4;
    border-style: none;
    border-color: #D3D0CB ;
    color:#E7E5DF;
    font-weight: bold;
    padding: 15px 15px;
    text-align: center;
    display: inline-block;
   
    
}
